* { margin: 0; padding: 0; font: normal 12px arial; }
ul, ol { list-style: none; color: #3a3333; }
ul { overflow: hidden; }
a { text-decoration: none; color: #111; font-size: 1em; }
a:hover, a:active, a:focus { text-decoration:none; }

/* Login Form */
.login_form {
    position:absolute; 
    top:50%; left:50%;
    width: 300px;
    height: 120px;
    margin: -80px 0 0 -150px;
    background: #f2f2f2;
    border-radius: 13px;
}
.login_form input {
    font-size: 1.8em;
    line-height: 1.5;
    width: 192px;
    height: 36px;
    color: #888;
    position: absolute;
    background: #fff;
}
.login_form input:nth-child(1){
    left: 7px;
    top: 20px;
    padding-left: 12px;
}
.login_form input:nth-child(2){
    left: 7px;
    top: 59px;
    padding-left: 12px;
}
.login_form input:nth-child(3){
    float: left;
    width: 80px;
    height: 79px;
    top: 20px;
    right: 7px;
    background: #33425b;
    color: #fff;
    border-style: hidden;
}

/* DashBoard */
.wrapper {
    max-width: 400px;
    margin: 0 auto;
}
.wrapper img {
    width: 100%;
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.4);
}
.dashboard {
    width: 100%;
    overflow: hidden;
    padding: 2%;
    box-sizing: border-box;
}
.dashboard a {
    float: left;
    display: block;
    font-size: 3em;
    text-align: center;
    padding-top: 17px;
}
.dashboard a:nth-child(1) { background: #45c5a4; } 
.dashboard a:nth-child(2) { background: #ff9846; } 
.dashboard a:nth-child(3) { background: #3cb1fc; } 
.dashboard a:nth-child(4) { background: #ca62df; } 
.dashboard a:nth-child(5) { background: #fe5e5e; } 
.dashboard a:nth-child(6) { background: #5970c8; } 
.dashbtn {
    width: 40%;
    height: 70px;
    color: #fff;
    margin: 5%;
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.4);
}
.dashboard a:nth-child(1):hover,
.dashboard a:nth-child(2):hover,
.dashboard a:nth-child(3):hover,
.dashboard a:nth-child(4):hover,
.dashboard a:nth-child(5):hover,
.dashboard a:nth-child(6):hover {
    background: #33425b;
    transition: 0.2s;
}
.dashmybtn {
    margin-top: 70px;
}


/* Upload Card */
#forJeonse, #forRent { display:none; }

.uploadrCard table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    border: 1px solid #173a8c;
    background: #f8fbfd;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.55);
}
.uploadrCard table, .uploadrCard th, .uploadrCard td {
    border-bottom: 1px solid #173a8c;
}
.uploadrCard td {
    font-size: 1.7em;
    height: 30px;
    padding: 2px;
}
.uploadrCard select {
    font-size: 1em;
    height: 30px;
}
.uploadrCard input {
    height: 30px;
    font-size: 1em;
}
.uploadrCard td span {
    font-size: 1em;
    font-weight: 600;
}

#uploadSubmit {
    float: right;
    width: 67px;
    height: 38px;
}
#uploadCancle {
    float: left;
    width: 67px;
    height: 38px;
}
.uploadrCard #manager2, .uploadrCard #manager2 * {
	display:none;
}


/* #main */
.uploadrCard #main td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #main tr:nth-child(4) td:nth-child(3) { width: 35%; }
.uploadrCard #main tr:nth-child(5) input { width: 98%; }
.uploadrCard #main tr:nth-child(6) input { width: 26%; }
.uploadrCard #main tr:nth-child(6) td:nth-child(3) { text-align: center; width: 25%; }
.uploadrCard #main tr:nth-child(7) input { width: 98%; }
/* #forSale */
.uploadrCard #forSale td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #forSale input { width: 35%; }
/* #forJeonse */
.uploadrCard #forJeonse td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #forJeonse input { width: 35%; }
/* #forRent */
.uploadrCard #forRent td:nth-child(1) { width: 30%; text-align: center; }
.uploadrCard #forRent input { width: 35%; }
/* #etc */
.uploadrCard #etc td:nth-child(1) { width: 40%; text-align: center; }
/* #connect */
.uploadrCard #connect td { font-size: 1.4em; }
.uploadrCard #connect input { height: 25px; }
.uploadrCard #connect td:nth-child(1) { text-align: center; }
.uploadrCard #connect td:nth-child(2) { text-align: center; width: 20%; }
.uploadrCard #connect td:nth-child(2) input { width: 95%; }
.uploadrCard #connect td:nth-child(3) input { width: 98%; }
.uploadrCard #connect td:nth-child(4) { width: 10%; }
.uploadrCard #connect td:nth-child(4) input { width: 98%; }

/* list */
.listheader {
    margin-bottom: 5px;
    background: #33425b;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
}
.listheader h2 {
	color: #fff;
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
}
.listheader h2 span {
	font-size: 1em;
}
.listheader select {
    height: 35px;
    font-size: 1.1em;
    padding: 2px 6px;
}
button {
    width: 18%;
    height: 35px;
    font-size: 1.1em;
    float: right;
    margin-left: 3px;
}
.list table, .mylist table {
    width: 100%;
    border-collapse: collapse; 
    background: #f8fbfd;
    box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
}
.list table tbody tr:hover, .mylist table tbody tr:hover {
    background: #fff;
    cursor: pointer;
}

.list table tr th, .mylist table tr th {
    font-size: 12px;
    border-bottom: 3px solid #20366b;
    padding: 4px 0;
}
.list table tr td, .mylist table tr td {
    text-align: right;
    font-size: 1.2em;
    border-bottom: 1px solid #20366b;
    padding: 4px 0;
    word-break: keep-all;
}
.list table tr td:nth-child(1), 
.list table tr td:nth-child(2),
.mylist table tr td:nth-child(1),
.mylist table tr td:nth-child(2),
.mylist table tr td:nth-child(3) {
    text-align: center;
}
.list table tr td:nth-child(6), 
.mylist table tr td:nth-child(6) {
    padding-right: 3px;
}
.listheader .veiwAll {
    width: 10%;
    height: 35px;
    font-size: 1.1em;
    float: right;
    margin-left: 3px;
}
.mylist .done {
	background: #ccd0d8;
}
.mylist .done:hover {
	background: #e1e3e8;
}
.mylist {
	margin-bottom: 10px;
}

/* view */
.view table {
    margin: 6px 0;
    width: 100%;
    background: #f8fbfd;
    border-collapse: collapse; 
    box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
}
.view table tr td {
    font-size: 2em;
    padding: 6px 0;
    border-bottom: 1px solid #173a8c;
}
.view table tr td span { font-size: 1em; }
.view table tr td:nth-child(1) {
    color: #989898;
    text-align: center;
    width: 35%;
    font-size: 1.6em;
    font-weight: 600;
}
.view table tr td:nth-child(2) {
    font-size: 1.6em;
}
.view button, .view input {
    width: 18%;
    height: 35px;
    font-size: 1.1em;
    float: right;
    margin-left: 3px;
    margin-bottom: 5px;
}
.mydetail_view td:nth-child(2), .mydetail_view a {
	color: #00000000;
}